.top-bar
  .top-bar-left
    %ul.menu
      = link_to root_path do
        %li.menu-text Integral Rails

  .top-bar-right
    %ul.menu
      %li= link_to 'Link 1', root_path
      %li= link_to 'Link 2', root_path
