<!DOCTYPE html>
<html>
<head>
  <title>Integral</title>
  <%= stylesheet_link_tag    "integral/application", media: "all" %>
  <%= javascript_include_tag "integral/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
