= render layout: 'integral/backend/settings/section', locals: { f: f, icon: 'search', title: t('integral.backend.settings.index.seo.title'), description: t('integral.backend.settings.index.seo.description'), classes: 'blue lighten-1' } do
  = f.input :google_tag_manager_id, input_html: { class: 'materialize-textarea', placeholder: t('integral.backend.settings.placeholder.google_tag_manager_id'), value: Integral::Settings.google_tag_manager_id }

