<%= grid(@posts_grid) do |g|
  g.column name: t('.columns.title'), attribute: 'title' do |post|
    post.title.truncate(30)
  end

  g.column name: t('.columns.description'), attribute: 'description' do |post|
    post.description.truncate(50)
  end

  g.column name: t('.columns.author'), attribute: 'user_id', custom_filter: Integral::User.all.map { |p| [p.name, p.id] } do |post|
    post.user.name
  end

  g.column name: t('.columns.last_updated'), attribute: 'updated_at' do |post|
    l(post.updated_at)
  end

  g.column   do |post|
    link_to("<span class='material-icons green-text text-lighten-1'>remove_red_eye</span>".html_safe, post_path(post)) +
      link_to("<span class='material-icons blue-text text-lighten-1'>edit</span>".html_safe, edit_post_path(post)) +
      link_to("<span class='material-icons red-text text-lighten-1'>delete</span>".html_safe, post_path(post), method: :delete, data: { confirm: t('actions.confirm') })
  end

  g.blank_slate  do
    "<div><br />No posts have been created. Try creating one!</div>"
  end 
end -%>

