= render layout: 'integral/shared/blog_layout' do
  - @posts.each do |post|
    = render partial: 'integral/posts/item', locals: { post: post }

  = will_paginate @posts, renderer: FoundationPagination::Rails
