- collection.each do |obj|
  - menu_item = obj.to_menu_item
  .record.row.hoverable{data: menu_item }
    .col.m2
      = image_tag menu_item[:image]
    .col.m10
      %h5= menu_item[:title]
      %span.subtitle= menu_item[:subtitle]

= will_paginate collection
