@import "foundation";
@import "integral/foundation_and_overrides";
@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "parsley";
@import 'nprogress';
@import 'nprogress-turbolinks5';
@import "integral/login_pages";
@import "integral/breakmedown";
@import "integral/users";
@import "integral/images";
@import "integral/posts";
@import "integral/lists";
@import "integral/dashboard";
@import "integral/validations";
@import "integral/flash_notifications";
@import "integral/collapsible_extensions";
@import "integral/shared";
@import "integral/modal";
@import "integral/record_selector";
@import "integral/wice_grid_overrides";
@import "integral/overrides";
@import "integral/backend_navigation";

/*
 * CKEditor styling
 */
.cke_dialog select {
  display: block;
}

.ckeditor {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.clickable {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

/*
 * Hide Integral Version
 */
.integral-version {
  display: none;
}
