@import 'integral/materialize';
@import "materialize_clockpicker";
@import "materialize-tags";
@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "parsley";
@import 'nprogress';
@import 'nprogress-turbolinks5';
@import "integral/login_pages";
@import "integral/breakmedown";
@import "integral/users";
@import "integral/images";
@import "integral/posts";
@import "integral/lists";
@import "integral/dashboard";
@import "integral/validations";
@import "integral/flash_notifications";
@import "integral/collapsible_extensions";
@import "integral/shared";
@import "integral/modal";
@import "integral/record_selector";
@import "integral/wice_grid_overrides";
@import "integral/overrides";

.turbolinks-progress-bar {
  height: 5px;
  background-color: $secondary-color;
  }

.remove-button {
  i {
    @extend .red-text, .text-lighten-1;

    &:hover {
      @extend .text-lighten-2;
    }
  }
}

/*
 * Standard Materialize Card with:
 * - Hoverable effect
 * - Readable white text against low colour backgrounds
 */
.integral-card {
  @extend .card, .hoverable;
  .card-title {
    text-shadow: 0 0 2px #444;
  }
}

/*
 * CKEditor styling
 */
.cke_dialog select {
  display: block;
}

.ckeditor {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.clickable {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}
