@import "foundation";
@import "integral/foundation_and_overrides";
@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "parsley";
@import 'nprogress';
@import 'nprogress-turbolinks5';
@import "integral/login_pages";
@import "integral/breakmedown";
@import "integral/users";
@import "integral/images";
@import "integral/posts";
@import "integral/lists";
@import "integral/dashboard";
@import "integral/validations";
@import "integral/flash_notifications";
@import "integral/collapsible_extensions";
@import "integral/shared";
@import "integral/modal";
@import "integral/record_selector";
@import "integral/wice_grid_overrides";
@import "integral/overrides";
@import "integral/backend_navigation";

/*
 * CKEditor styling
 */
.cke_dialog select {
  display: block;
}

.ckeditor {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.clickable {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

/*
 * Hide Integral Version
 */
.integral-version {
  display: none;
}

// Colours
.indigo-bg {
  background-color: $indigo
}

.orange-bg {
  background-color: $orange
}


.box {
  display: inline-block;
  padding: 1rem;
  color: white;
  border-radius: 3px;
}

// Margins

.margin-top-1 {
  margin-top: 1rem;
}

// Tables

.filters {
  float: left;

  a {
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }

  .button {
    background: none;
    border: 1px solid $grey-lighten-2;
    color: $grey-darken-3;
    margin: 0;
  }

  .button.active {
    background-color: $primary-color;
    color: white;
  }
}

table {
  .actions {
    .delete, .view, .edit {
      display: inline-block;
      padding: 0.3rem;
      border-radius: $global-radius;
      color: white;
    }
    .delete {
      background: $red;
    }
    .view {
      background: $green;
    }
    .edit {
      background: $orange;
    }
  }
}
