// TODO: Break this file up into relevant areas and sections

$green: #8ac249;
$grey-lighten-1: #bdbdbd;
$grey-lighten-2: #e0e0e0;
$grey-lighten-3: #eeeeee;
$grey-lighten-4: #f5f5f5;
$grey-lighten-5: #fafafa;

.redactor-toolbar {
  z-index: 997 !important;
}

.fixed-action-btn {
  z-index: 997;
}

header, main, footer {
//  padding-left: 240px;
}

.container {
  width: 90%;
}

body {
  background: #f9f9f9;
  font-family: 'Lato', sans-serif !important;
  text-rendering: optimizeLegibility;
}

.top-nav {
//  padding-right: 240px;
}

nav {
  @extend .white;
  a {
    @extend .grey-text, .text-darken-2;
  }
}


.button-collapse {
  display: inline !important;
}

#admin-menu-toggle {
  height: 64px;
  line-height: 24px;
  margin-right: 1em;
  width: 3em;
  padding: 1.4rem;
  display: inline-block;
  @extend .grey-text, .text-darken-3;
  font-weight: 600;
  float: left;
  position: relative;
  transition: transform .15s cubic-bezier(.2,.3,.25,.9);
  &:hover {
    color: #039be5 !important;
    cursor: pointer;
  }
  &:after {
    content: "";
    clear: both;
  }
  .material-icons {
    font-size: 2.1em;
    font-weight: 600;
    position: absolute;
    line-height: 24px;
    margin-right: 1rem;
  }
  .toggle-text {
    float: right;
    font-size: 1.4em;
    font-weight: 400;
  }
}

#admin-menu {
  @extend .blue-grey, .darken-2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  li {
    height: 50px;
    &:hover {
     @extend .blue-grey, .darken-2;
    }
  }
  span {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-right: 0.25em;
  }
  a {
    @extend .white-text;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    width: 100%;
    &:hover {
      text-decoration: underline;
    }
  }
}

#admin-menu-footer {
  width: 240px;
  @extend .blue-grey, .darken-3;
}

#admin-menu-top {
  li {
    padding-right: 1.5em;
    &:hover {
      background: none;
    }
    a {
      margin-top: -6px;
    }
  }
}

.admin-menu-logo {
  @extend .grey-text, .text-darken-2;
  font-size: 1.5em;
}

.side-nav {
  li {
    height: 30px;
    line-height: 15px;
  }
  a {
    height: 30px;
  }
}

.vertical-divider {
  height: 44px;
  margin: 10px 0 10px 0;
  border-left: 1px solid #DDD;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-logo {
  a {
    display: inline-block;
    font-size: 1.7rem;
    padding: 0;
    white-space: nowrap;
    &:hover {
      @extend .blue-text;
    }
  }
  i {
    font-size: 1.3em;
    margin-right: 0.3em;
    display: inline-block !important;
  }
}

#user-menu {
  height: 80px !important;
  padding: 1em;
  li {
    height: 80px;
  }
  h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    @extend .grey-text;
  }
  img {
    float: left;
    width: 36px;
    margin-right: 0.5em;
    border-radius: 3px;
  }
  span {
    display: block;
    line-height: 18px;
    @extend .grey-text;
    font-size: 0.9em;
  }
  &:hover {
    @extend .blue-grey, .darken-1;
  }
  #user-menu-name {
    @extend .white-text;
    font-size: 1.1em
  }
}

#user-menu-contents {
  height: 4rem;
  padding-top: 0.7rem;
}

.breadcrumb_nav {
  margin: 1rem 0;
  padding: 0 1rem;
  max-height: 50px;
  line-height: 50px;
  .breadcrumb {
    color: $grey-lighten-1 !important;
    &:before {
      color: $grey-lighten-1;
    }
    &:last-child {
      color: #000 !important;
    }
  }
}

.settings {
  .collapsible-header:hover {
    color: $secondary-color;
  }
  .collapsible {
    .collapsible-header {
      min-height: 6rem;
      line-height: 2rem;
      padding: 1rem;
      height: auto;
      border: 1px #e0e0e0 solid;
    }
    .collapsible-header.active {
      color: $secondary-color;
    }
    h5 {
      padding: 0;
      margin: 0;
      font-weight: 600;
    }
    .header-body {
      padding: 0;
      margin: 0;
    }
    i {
      font-size: 2.5rem;
      line-height: 4rem;
      float: left;
      color: #fff;
      width: 4rem;
      border-radius: 5px;
    }
    p {
      padding: 0;
      margin: 0.5rem 1rem;
    }
    .col {
      margin: 0 auto;
      float: none;
    }
    .input-field {
      @extend .col, .l6, .m6, .s12;
    }
  }
  .collapsible-body {
    padding: 1.5rem 0 0 0;
  }
}

.images-selector {
  @extend .row;
}

.image-thumbnails {
  padding: 0 !important;
}

.no-checkbox:not(:checked) + label {
  @extend .z-depth-1;
  &:hover {
    @extend .z-depth-2;
  }
}

.no-checkbox:checked + label {
  @extend .z-depth-2;
  i {
    display: block;
  }
  img {
    opacity: 0.5;
  }
}

.no-checkbox-label {
  padding-left: 0 !important;
  height: 130px !important;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: 0.5s;
  &:before {
    content: none !important;
  }
  .landscape {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .portrait {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  i {
    position: absolute;
    width: 100%;
    line-height: 130px;
    text-align: center;
    height: 25%;
    z-index: 1;
    display: none;
    color: $green;
    font-size: 4rem;
  }
}

#selected-count {
  padding: 0 0 1rem 0;
  span {
    background: $green;
    padding: 0.5rem 0.75rem;
    margin: 0 0 0 1rem;
    border-radius: 50%;
    color: #fff;
  }
}

.row.no-messages {
  background: #fff;
  @extend .z-depth-1;
  min-height: 80vh;
  margin: auto;
  position: relative;
  text-align: center;
  width: 100%;
  h3 {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    font-size: 2.5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
  }
  .material-icons {
    position: absolute;
    font-size: 11rem;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -40%);
    z-index: 1;
    color: $grey-lighten-1 !important;
  }
}

.messages {
  .collapsible-header {
    position: relative;
    padding: 1rem 1.5rem 0 1.5rem;
    overflow: hidden;
    &:hover {
      background: $grey-lighten-5;
    }
    .time {
      transition: 0.4s;
      position: absolute;
      right: -5rem;
    }
  }
  .collapsible-header.active {
    transition: border 0.5s;
    border-bottom: #fff;
    .time {
      right: 1rem;
    }
    .message-preview {
      display: none;
    }
    &:hover {
      background: #fff;
    }
  }
  .collapsible-body {
    background: #fff;
    padding: 1rem 2rem;
  }
  .date {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
  }
  .subject {
    font-size: 1rem;
    height: 0.2rem;
    line-height: 1rem;
    font-weight: 600;
  }
  .name {
    font-size: 1rem;
    height: 1.1rem;
    line-height: 1rem;
    display: inline-block
  }
  .message-preview {
    font-size: 1rem;
    height: 1.1rem;
    line-height: 1rem;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    @extend .light, .grey-text;
  }
  .message {
    @extend .light, .grey-text;
    p {
      padding: 0 0 1rem 0;
    }
  }
  .contact-info {
    position: relative;
    .email {
      @extend .amber-text;
      margin-top: 1rem;
      font-size: 1rem;
      display: inline-block;
      .material-icons {
        @extend .amber, .white-text, .circle;
        padding: 0.2rem;
        position: relative;
        top: 0.4rem;
        margin-right: 0.5rem;
      }
    }
    .actions {
      @extend .amber-text;
      text-transform: uppercase;
      position: absolute;
      right: 0.5rem;
      bottom: 0;
      a {
        margin-right: 2rem;
        @extend .amber-text;
        cursor: pointer;
        text-transform: uppercase;
      }
      span:last-child {
        a {
          margin-right: 0px;
        }
      }
    }
  }
  .phone {
    @extend .amber-text;
    padding-left: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    display: inline-block;
    .material-icons {
      @extend .amber, .white-text, .circle;
      padding: 0.2rem;
      position: relative;
      top: 0.4rem;
      margin-right: 0.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.no-messages {
    height: 100%;
    min-height: 0;
    padding: 1rem;
    .material-icons {
      position: static;
      font-size: 7rem;
    }
    h3 {
    position: static;
    font-size: 2rem;
    }
  }
  .messages {
    .collapsible-header {
      padding: 1rem;
    }
    .subject, .name {
      display: block;
      width: 100%;
      height: 1.2rem;
    }
    .message-preview{
      display: none;
    }
    .contact-info {
      .email, .phone, .reply, .actions, .delete {
        display: block;
        position: static;
        width: 100%;
        padding: 0;
        margin: 1.5rem 0;
      }
      .reply {
        margin-bottom: 0;
      }
    }
  }
}

.input-field.boolean {
  label {
    &:before {
      margin-left: 5px;
    }
    position: initial;
    margin-left: 5px;
  }
}
