#user_form {
  div.user_roles {
    span.checkbox {
      display: block;
    }
  }
}

.avatar-editor {
 img {
   width: 100%;
   border: solid 2px;
 }

 span {
   position: relative;
   left: 49px;
   bottom: 28px;
 }
}
