= content_for :title, t('.title', title: @page.title)

= icon_link_to 'remove_red_eye', @page.path, class: 'right green-text tooltipped', data: { tooltip: t('integral.actions.view') }, icon_classes: 'small'

= render 'form'

