<%= grid(@users_grid) do |g|
  g.column name: t('.columns.name'), attribute: 'name'
  g.column name: t('.columns.email'), attribute: 'email'
  g.column name: t('.columns.last_signed_in'), attribute: 'last_sign_in_at'

  g.column   do |user|
    link_to("<span class='material-icons green-text text-lighten-1'>web</span>".html_safe, user_path(user)) +
      link_to("<span class='material-icons blue-text text-lighten-1'>edit</span>".html_safe, edit_user_path(user)) +
      link_to("<span class='material-icons red-text text-lighten-1'>delete</span>".html_safe, user_path(user), method: :delete, data: { confirm: t('actions.confirm') })
  end
end -%>

