= content_for :title, @user.name

= icon_link_to 'edit', edit_user_path, class: 'waves-effect waves-light btn', text: t('actions.edit')
.card-panel
  %h3= @user.name

  %p Some sort of user profile goes here.


