<%= grid(@pages_grid) do |g|
  g.column name: t('.columns.title'), attribute: 'title'
  g.column name: t('.columns.path'), attribute: 'path'
  g.column name: 'Status', attribute: 'status', custom_filter: Integral::Page.available_statuses do |page|
    status_colour = page.draft? ? 'orange' : 'green'
    "<span class='status white-text #{status_colour} lighten-1'>#{page.status}</span>".html_safe
  end
  g.column name: t('.columns.last_updated_at'), attribute: 'updated_at' do |page|
    l(page.updated_at)
  end

  g.column   do |page|
    link_to("<span class='material-icons green-text text-lighten-1'>remove_red_eye</span>".html_safe, page_path(page)) +
      link_to("<span class='material-icons blue-text text-lighten-1'>edit</span>".html_safe, edit_page_path(page)) +
      link_to("<span class='material-icons red-text text-lighten-1'>delete</span>".html_safe, page_path(page), method: :delete, data: { confirm: t('actions.confirm') })
  end

  g.blank_slate  do
    "<div><br />#{t('integral.pages.index.non_available')}</div>"
  end
end -%>

